<header id="header_home">
    <div id="header-center">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="index.html">Blog <img class="img-reponsive" src="./assets/svg/LOGO404.svg" alt="Brand Logo"></a>
                </div>
                <div class="collapse navbar-collapse text-center" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="index.html">Accueil</a></li>
                        <li><a href="#">La Promo</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
    </div>

</header>
